<h2 class="page-header">Tableau de Bord <i>MyWordPress</i> </h2>

<div>
	<div class="col-md-6">
		<h3>Articles </h3>
		<div ng-repeat= "article in lastArticles | orderBy:'article.date':true">
			<div class="well well-sm">
	 			<p> Posté le {{article.date | date:'dd/MM/yyyy'}} par {{article.author.lastname}}  {{article.author.firstname}} </p>
	 			<p><a ui-sref="site.showArticle({id : article._id})">{{article.title}} </a></p>
				</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<h3>Commentaires </h3>
		
		<div ng-repeat= "comment in lastComments ">
			<div class="media well well-sm">
	         	<img src="{{user.profilePicUrl()}}" class="pull-left" style="height:50px; border: 1px solid #fff">

	        	<div class="media-body">

	        		<h4 class="media-heading"> 
	        		{{comment.author.lastname}} {{comment.author.firstname}}<small><i> Posté le {{comment.date | date:'dd/MM/yyyy'}} sur <a ui-sref="site.showArticle({id : article._id})"> {{comment.article.title}} </a> </i></small></h4>
	           		<p>{{comment.content}} </p>	
				</div>
			</div>
		</div>
	</div>
</div>
